<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/chats"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Chat</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="query"
      showCancelButton="focus"
      animated
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="query">
    <ion-list-header>Users</ion-list-header>
    <ion-item *ngFor="let user of users"></ion-item>
  </ion-list>
</ion-content>
