<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/chats"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Chat</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="query"
      showCancelButton="focus"
      animated
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="log()">log</ion-button>
  <ion-list *ngIf="query">
    <ion-list-header>Users</ion-list-header>
    <div *ngFor="let user of users | sortUsers: query">
      <ion-item (click)="addUser(user)">
        <ion-label>
          <span>
            {{ user.displayName ? user.displayName : user.email }}
          </span>
        </ion-label>
        <div>
          <ion-text>{{ user.displayName ? user.email : '' }}</ion-text>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
