<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="messages">
    <ion-card *ngFor="let message of messages">
      <ion-icon name="contact"></ion-icon>
      <ion-label>{{ message.label }}</ion-label>
      <ion-card-content>{{ message.content }}</ion-card-content>
    </ion-card>
  </div>

  <!--  <ion-card>-->
  <!--    <ion-icon name="contact" ></ion-icon>-->
  <!--    <ion-label>Me</ion-label>-->
  <!--    <ion-card-content>hey</ion-card-content>-->
  <!--  </ion-card>-->
  <div>
    <ion-searchbar (click)="searchSubmitted()"></ion-searchbar>
    <ion-button slot="start" (click)="addGif()">
      +
    </ion-button>
  </div>
</ion-content>
