<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/chats"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="messages">
    <ion-card *ngFor="let message of messages">
      <ion-icon name="contact"></ion-icon>
      <ion-label>{{ message.label }}</ion-label>
      <ion-label float-right="right">{{ message.timestamp }}</ion-label>
      <ion-img
        src="https://media2.giphy.com/media/{{ message.content.id }}/giphy.gif"
      ></ion-img>
    </ion-card>
  </div>

  <div *ngIf="buttonClicked == false">
    <ion-button (click)="addButtonClicked()">
      choose a gif
    </ion-button>
    <ion-button (click)="sendRandomGif()">
      send random gif
    </ion-button>
  </div>
  <!-- consider changing the <img/>'s  to <ion-img></ion-img>. They're more optimized -->
  <ion-card *ngIf="buttonClicked == true">
    <ion-button color="secondary" (click)="closeButton()">x</ion-button>
    <ion-searchbar
      placeholder="search gifs"
      (ionInput)="searchSubmitted($event)"
    ></ion-searchbar>

    <ion-grid *ngIf="!searched">
      <ion-row>
        <ion-col *ngFor="let item of trending" size="4">
          <ion-img
            (click)="sendGif(item)"
            src="https://media2.giphy.com/media/{{ item.id }}/giphy.gif"
          ></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="searched">
      <ion-row>
        <ion-col *ngFor="let item of searched" size="4">
          <ion-img
            (click)="sendGif(item)"
            src="https://media2.giphy.com/media/{{ item.id }}/giphy.gif"
          ></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
