<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="messages">
    <ion-card *ngFor="let message of messages">
      <ion-icon name="contact" ></ion-icon>
      <ion-label>{{message.label}}</ion-label>
      <ion-card-content>{{message.content}}</ion-card-content>
    </ion-card>
  </div>

<!--  <ion-card>-->
<!--    <ion-icon name="contact" ></ion-icon>-->
<!--    <ion-label>Me</ion-label>-->
<!--    <ion-card-content>hey</ion-card-content>-->
<!--  </ion-card>-->

  <ion-button (click)="addGif()">
    +
  </ion-button>

</ion-content>

