<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-button (click)="addChat()">
      Add Chat
    </ion-button>
    <ion-list-header>
      <ion-text> </ion-text>
    </ion-list-header>
    <div *ngIf="chats">
      <ion-item
        [routerLink]="['/chat']"
        (click)="handleChatClick(chat.id)"
        *ngFor="let chat of chats | async; index as i"
      >
        <ion-avatar slot="start">
          <ion-icon size="large" name="person"> </ion-icon>
        </ion-avatar>
        <ion-label>
          <h1>
            {{ chat.members[0] }}
          </h1>
          <h2>
            Chat Sample Here
          </h2></ion-label
        >
      </ion-item>
    </div>
  </ion-list>
</ion-content>
