<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      User
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p>User Profile</p>
<!--    <form (ngSubmit)="processForm(event)">-->
      <ion-list lines="full">
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input (ionInput)="handleNameValue($event)"></ion-input>
        </ion-item>
      </ion-list>
<!--    </form>-->


  </div>
</ion-content>
